body{
    height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
}

.people{
    display: block;
    justify-content: center;
    align-items: center;
}

.woman{
    /* display: flex;
    justify-content: space-evenly; */
    color:red;
}

.man{
    /* display: flex;
    justify-content: space-evenly; */
    color:#009fff;
}

.whole-modal{
    padding: 28px;
    padding-bottom:38px;
    align-self: end;
}
  
.modal {
    width:90%;
    height: 66%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.modal-inner-loading{
    text-align: center;
}
