body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.people{
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    position: relative;
    bottom: -288px;
    width: 298px;
    margin-left: 16px;
}

.woman{
    background-color:red;
    z-index: -1;
}

.man{
    background-color:#009fff;
    margin-right: 1.3em;;
    z-index: +1;
}

.whole-modal{
    align-self: end;
    width: 290px;
}
  
.modal {
    height: 55%;
    height: 55%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.modal-inner-loading{
    text-align: center;
}

.main-box{
    width: 19em;
    height:17em;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.main-box :first-child {
    margin-bottom: 17px; /* Style for the first child of any type inside the div */
}

.left-number{
    margin:0;
    margin-left:-2em;
}

.countries{
    display: flex;
    justify-content: space-around;
    width: 300px;

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .modal {
        width:55%;
        height: 35%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .modal {
        width: 47%;
        height: 90%;
    }
}    

@media only screen and (min-width: 1024px) {
    .modal {
        width: 400px;
        height: 400px;
    }
}